* {
    margin: 0;
    padding: 0;
    /* width: 100%; */
}

h1 {
    font-size: 30;
    color: red;
}

.container1 {
    /* width: 100%; */
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: blue;
    /* justify-content: center; */
    align-items: center;
    padding: 5px;
}


.box1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    flex: 50%;
    height: 33%;
}

.box1 .child-box1 {
    height: 50%;
    width: 75%;
    background: yellow;
    transition: 500ms;
}

.box1 .child-box1:hover {
    width: 80%;
    background: green;
}

.box2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: green;
    flex: 50%;
    height: 33%;
}

.box3 {
    background-color: yellow;
    flex: 50%;
    height: 33%;
}

.box2 .btn {
    margin-right: 15px;
    background: white;
    border-radius: 4px;
    width: 20%;
    min-width: min-content;
    display: flex;
    height: min-content;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px rgb(23, 23, 23);
    transition: 1s;
    padding: 5px;
}

.box2 .btn:hover {
    transform: scale(1.05);
    background: red;
    transform: rotate(360deg)
}

.box4 {
    background: peru;
    flex: 50%;
    height: 33%;
}

.container1 > div:last-child {
    max-width: 50%;
}

#box4 {
    background: red;
    flex: 50%;
    height: 33%;
}